{% extends 'reportapp/base.html' %}
{% load extras %}
{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="container-fluid">

            {% if date %}
                <form method="post" action="">
                    <div class="row">
                        {% csrf_token %}
                        <div class="col-2">
                            <select class="form-select" aria-label="Default select example" name="start_date">
                                <option selected>Start date</option>
                                {% for d in date %}
                                    <option name="start_date"
                                            value="{{ d.date|date:"Y-m-d" }}">{{ d.date|date:"M Y" }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2">
                            <select class="form-select" aria-label="Default select example" name="end_date">
                                <option selected>End date</option>
                                {% for d in date %}
                                    <option name="end_date"
                                            value="{{ d.date|date:"Y-m-d" }}">{{ d.date|date:"M Y" }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-success">Выбрать</button>
                        </div>
                        <div class="col-3">
                            {% if flag and flag == 'cc detail view' %}
                                <a class="btn btn-danger" href="{% url 'report:group' pk=data.first.contact_center %}"
                                   role="button">Детализация по группам</a>
                            {% elif flag and flag == 'group detail view' %}
                                <a class="btn btn-danger" href="{% url 'report:employee' pk=data.first.group %}"
                                   role="button">Специалисты группы</a>
                            {% endif %}
                        </div>
                    </div>
                </form>

            {% endif %}

        </div>
    </div>


    {% if flag and flag == 'cc detail view' %}
        <div class="container justify-content-center text-center fs-3 mt-2">
            {{ data.first.contact_center__area_name }}
        </div>
    {% elif flag and flag == 'group main view' %}
        <div class="container justify-content-center text-center fs-3 mt-2">
            {{ contact_center }}
        </div>
    {% elif flag and flag == 'group detail view' %}
        <div class="container justify-content-center text-center fs-3 mt-2">
            {{ data.first.group__group_name }}
        </div>
    {% elif flag and flag == 'employee detail view' %}
        <div class="container justify-content-center text-center fs-3 mt-2">
            {{ name }}
        </div>
        {% elif flag and flag == 'employee view' %}
        <div class="container justify-content-center text-center fs-3 mt-2">
            {{ data.first.group__group_name }} {{ data.first.date|date:"F Y" }}
        </div>
    {% endif %}

    <div class="container justify-content-center mt-2">
        <canvas id="chart"></canvas>
    </div>

    <div class="container justify-content-center mt-2">
        <table class="table table-bordered">
            <thead>
            <tr>
                {% if flag and flag == 'group main view' %}
                    <th scope="col">Группа</th>
                {% elif flag and flag == 'employee view' %}
                    <th scope="col">Сотрудник</th>
                {% elif flag and flag == 'cc main view' %}
                    <th scope="col">Площадка</th>
                {% else %}
                    <th scope="col">Дата</th>
                {% endif %}
                <th scope="col">Запланированное время</th>
                <th scope="col">Ready</th>
                <th scope="col">Рейтинг</th>
                <th scope="col">Adherence</th>
                <th scope="col">Больничные</th>
                <th scope="col">Отсутствия</th>
            </tr>
            </thead>
            {% for d in data %}
                <tr>
                    {% if d.full_name %}
                        <td>
                            <a class="fs-6"
                               href="{% url 'report:employee_detail' name=d.full_name %}">{{ d.full_name }}</a>
                        </td>
                    {% elif d.date %}
                        <td class="fs-6">{{ d.date|date:"M Y" }}</td>
                    {% elif d.group__group_name %}
                        <td>
                            <a class="fs-6"
                               href="{% url 'report:group_detail' pk=d.group %}">{{ d.group__group_name }}</a>
                        </td>
                    {% else %}
                        <td>
                            <a class="fs-6"
                               href="{% url 'report:center_detail' pk=d.contact_center %}">{{ d.contact_center__area_name }}</a>
                        </td>
                    {% endif %}
                    <td>{{ d.scheduled_time_sum|numeric }}</td>
                    <td>{{ d.ready_sum|numeric }}</td>
                    <td>{{ d.rating_avg|percent }}%</td>
                    <td>{{ d.adherence_avg|percent }}%</td>
                    <td>{{ d.sick_leave_sum|numeric }}</td>
                    <td>{{ d.absenteeism_sum|numeric }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"
            integrity="sha512-d6nObkPJgV791iTGuBoVC9Aa2iecqzJRE0Jiqvk85BhLHAPhWqkuBiQb1xz2jvuHNqHLYoN3ymPfpiB1o+Zgpw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        console.log("{{ data.first.group__group_name }}")

        window.onload = function () {
            const data = {
                    labels: [
                        {% for d in data %}
                            {% if d.full_name %}
                                "{{ d.full_name }}",
                            {% elif d.date %}
                                "{{ d.date|date:"M Y" }}",
                            {% elif d.contact_center__area_name %}
                                "{{ d.contact_center__area_name }}",
                            {% elif d.group__group_name %}
                                "{{ d.group__group_name }}",
                            {% endif %}
                        {% endfor %}
                    ],
                    datasets: [{
                        type: 'bar',
                        label: 'Ready',
                        data: [
                            {% for d in data %}
                                {{ d.ready_sum|float_replasment }},
                            {% endfor %}
                        ],
                        backgroundColor: 'rgba(0, 185, 86, 1)'
                    }, {
                        type: 'bar',
                        label: 'Запланированное время',
                        data: [
                            {% for d in data %}
                                {{ d.scheduled_time_sum|float_replasment }},
                            {% endfor %}
                        ],
                        fill: false,
                        backgroundColor: 'rgb(115, 25, 130)'
                    }, {
                        type: 'bar',
                        label: 'Рейтинг',
                        //This setting hidden data
                        hidden: true,
                        data: [
                            {% for d in data %}
                                {{ d.rating_avg|float_replasment }} * 100,
                            {% endfor %}
                    ],
                    fill: false,
                    backgroundColor: 'rgb(235, 90, 64)'
                },
                ]
        }
            ;
            const config = {
                type: 'scatter',
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                font: {
                                    size: 16
                                }
                            }
                        }
                    }
                }
            };
            var ctx = document.getElementById('chart').getContext('2d');
            window.myLine = new Chart(ctx, config);
        };
    </script>
{% endblock %}